
# Ignore bower component
bower_components

# Node modules
node_modules

# Python compiled code
*.pyc

# SQLite3 Database
*.sqlite3
.idea
dash_env

static-files

# Celery Files
celerybeat-schedule
dump.rdb
celerybeat.pid

# Ignore log files
*.log
debug.*
